
.scout {
    background: #333;
    color: #eee;
}

.pressure {
    background: #f52;
}

.all-in {
    background: #c21;
}

.look-for {
    background: #47c;
}

.aggressive {
    background: #c83;
}

.macro {
    background: #2b2;
}
