
.scout {
    background: #333;
    color: #eee;
}

.pressure {
    background: #ff9900;
}

.all-in {
    background: #f32;
}

.look-for {
    background: #58f;
}

.aggressive {
    background: #f6c;
}

.macro {
    background: #4e4;
}
